.header {
    height: 55px;
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; <-- This line is optional, because the flex is set to this style by default */
}

.left-section {
    background-color: lightskyblue;
    width: 150px;
}

.middle-section {
    background-color: lightpink;
    flex: 1;
    margin-left: 70px;
    margin-right: 40px;
    max-width: 500px;
}

.right-section {
    background-color: olivedrab;
    width: 200px;
}